You have signed up! You can now:

<ol>
	<li>Get a summary of all your purchases at the end of the year for tax purposes.</li>
	<li>View and download your purchased products.</li>
	<li>Manage your profile.</li>
</ol>