---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1593cAKmUHg13gkF5ev3mRXp",
          "livemode": false,
          "created": 1418429910,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1593cAKmUHg13gkFSFcgFno3",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 13 Dec 2014 00:18:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1593cAKmUHg13gkF5ev3mRXp&description=rspec-user%40example.com
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418429910,
          "id": "cus_5Jh03AHW0E8fLv",
          "livemode": false,
          "description": "rspec-user@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Jh03AHW0E8fLv/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Jh03AHW0E8fLv/cards",
            "data": [
              {
                "id": "card_1593cAKmUHg13gkFSFcgFno3",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2025,
                "fingerprint": "JbFvkc6RO9g2yFua",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Jh03AHW0E8fLv"
              }
            ]
          },
          "default_card": "card_1593cAKmUHg13gkFSFcgFno3"
        }
  recorded_at: Sat, 13 Dec 2014 00:18:32 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5Jh03AHW0E8fLv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5Jh03AHW0E8fLv/cards
    body:
      encoding: US-ASCII
      string: card=tok_1593cBKmUHg13gkFZnfS22vi
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1593cAKmUHg13gkFTh4NLKhy",
          "object": "card",
          "last4": "1881",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 10,
          "exp_year": 2035,
          "fingerprint": "o1sPlABHn0ksI9zm",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": "pass",
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "customer": "cus_5Jh03AHW0E8fLv"
        }
  recorded_at: Sat, 13 Dec 2014 00:18:33 GMT
[...]
