---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16g4adKmUHg13gkFSRPIScd9",
          "livemode": false,
          "created": 1441074819,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16g4adKmUHg13gkFJo1lIZt4",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "67.148.61.176"
        }
  recorded_at: Tue, 01 Sep 2015 02:33:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16g4adKmUHg13gkFSRPIScd9&description=rspec-user%40example.com
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1441074819,
          "id": "cus_6tsLm339SzofDa",
          "livemode": false,
          "description": "rspec-user@example.com",
          "email": null,
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6tsLm339SzofDa/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6tsLm339SzofDa/sources",
            "data": [
              {
                "id": "card_16g4adKmUHg13gkFJo1lIZt4",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2025,
                "fingerprint": "JbFvkc6RO9g2yFua",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6tsLm339SzofDa"
              }
            ]
          },
          "default_source": "card_16g4adKmUHg13gkFJo1lIZt4"
        }
  recorded_at: Tue, 01 Sep 2015 02:33:39 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6tsLm339SzofDa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6tsLm339SzofDa/sources
    body:
      encoding: US-ASCII
      string: source=tok_16g4aeKmUHg13gkFwaBRqy1p
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_16g4aeKmUHg13gkFwK59eLuY",
          "object": "card",
          "last4": "1881",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 10,
          "exp_year": 2035,
          "fingerprint": "o1sPlABHn0ksI9zm",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": "pass",
          "address_line1_check": null,
          "address_zip_check": null,
          "tokenization_method": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6tsLm339SzofDa"
        }
  recorded_at: Tue, 01 Sep 2015 02:33:41 GMT
[...]
