---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16g4afKmUHg13gkFvJ0dtDz2",
          "livemode": false,
          "created": 1441074821,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16g4afKmUHg13gkFfWcLJ3ln",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "67.148.61.176"
        }
  recorded_at: Tue, 01 Sep 2015 02:33:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16g4afKmUHg13gkFvJ0dtDz2&description=guest-user%40example.com
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1441074822,
          "id": "cus_6tsLX95e63gq5n",
          "livemode": false,
          "description": "guest-user@example.com",
          "email": null,
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6tsLX95e63gq5n/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6tsLX95e63gq5n/sources",
            "data": [
              {
                "id": "card_16g4afKmUHg13gkFfWcLJ3ln",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2025,
                "fingerprint": "JbFvkc6RO9g2yFua",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6tsLX95e63gq5n"
              }
            ]
          },
          "default_source": "card_16g4afKmUHg13gkFfWcLJ3ln"
        }
  recorded_at: Tue, 01 Sep 2015 02:33:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=4700&currency=usd&customer=cus_6tsLX95e63gq5n
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16g4ahKmUHg13gkF2YZCYuUJ",
          "object": "charge",
          "created": 1441074823,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 4700,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16g4afKmUHg13gkFfWcLJ3ln",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_6tsLX95e63gq5n"
          },
          "captured": true,
          "balance_transaction": "txn_16g4ahKmUHg13gkFSfRffpek",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6tsLX95e63gq5n",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16g4ahKmUHg13gkF2YZCYuUJ/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 01 Sep 2015 02:33:43 GMT
recorded_with: VCR 2.9.3
