---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1593cCKmUHg13gkFZzbcYrYZ",
          "livemode": false,
          "created": 1418429912,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1593cCKmUHg13gkFhboNIKBo",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 13 Dec 2014 00:18:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1593cCKmUHg13gkFZzbcYrYZ&description=guest-user%40example.com
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418429913,
          "id": "cus_5Jh0XzaIk7DS6E",
          "livemode": false,
          "description": "guest-user@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Jh0XzaIk7DS6E/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Jh0XzaIk7DS6E/cards",
            "data": [
              {
                "id": "card_1593cCKmUHg13gkFhboNIKBo",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2025,
                "fingerprint": "JbFvkc6RO9g2yFua",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Jh0XzaIk7DS6E"
              }
            ]
          },
          "default_card": "card_1593cCKmUHg13gkFhboNIKBo"
        }
  recorded_at: Sat, 13 Dec 2014 00:18:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=4700&currency=usd&customer=cus_5Jh0XzaIk7DS6E
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1593cDKmUHg13gkFZO0Zl206",
          "object": "charge",
          "created": 1418429913,
          "livemode": false,
          "paid": true,
          "amount": 4700,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_1593cDKmUHg13gkFZO0Zl206/refunds",
            "data": []
          },
          "card": {
            "id": "card_1593cCKmUHg13gkFhboNIKBo",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5Jh0XzaIk7DS6E"
          },
          "balance_transaction": "txn_1593cDKmUHg13gkFAFtqsf9d",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5Jh0XzaIk7DS6E",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Sat, 13 Dec 2014 00:18:35 GMT
recorded_with: VCR 2.9.3
