---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1593cEKmUHg13gkF5ONiay45",
          "livemode": false,
          "created": 1418429914,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1593cEKmUHg13gkFA7Y2e6Db",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 13 Dec 2014 00:18:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1593cEKmUHg13gkF5ONiay45&description=rspec-user%40example.com
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418429914,
          "id": "cus_5Jh0NyjaWtNLu6",
          "livemode": false,
          "description": "rspec-user@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Jh0NyjaWtNLu6/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Jh0NyjaWtNLu6/cards",
            "data": [
              {
                "id": "card_1593cEKmUHg13gkFA7Y2e6Db",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2025,
                "fingerprint": "JbFvkc6RO9g2yFua",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Jh0NyjaWtNLu6"
              }
            ]
          },
          "default_card": "card_1593cEKmUHg13gkFA7Y2e6Db"
        }
  recorded_at: Sat, 13 Dec 2014 00:18:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=4700&currency=usd&customer=cus_5Jh0NyjaWtNLu6
    headers:
      Authorization:
      - Bearer sk_test_watHqWl2XD88WHqhknk7sqXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1593cEKmUHg13gkF3puyqa5P",
          "object": "charge",
          "created": 1418429914,
          "livemode": false,
          "paid": true,
          "amount": 4700,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_1593cEKmUHg13gkF3puyqa5P/refunds",
            "data": []
          },
          "card": {
            "id": "card_1593cEKmUHg13gkFA7Y2e6Db",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2025,
            "fingerprint": "JbFvkc6RO9g2yFua",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5Jh0NyjaWtNLu6"
          },
          "balance_transaction": "txn_1593cEKmUHg13gkFYJisZ0Wu",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5Jh0NyjaWtNLu6",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Sat, 13 Dec 2014 00:18:36 GMT
recorded_with: VCR 2.9.3
