<h1>Receipt</h1>
<p>You just bought 'Rails 4 Quickly book' for $27. Here is the download link : one-time download link goes here. We can email you the receipt for your records. Enter your email here: []</p>

