<h1>Receipt</h1>
<p>You just bought 'Rails 4 Quickly book' for $27. If you signup for an account, you can :

<ol>
	<li>View all your purchases.</li>
	<li>Download your books anytime.</li>
	<li>Checkout faster without entering your credit card details by using our one-click checkout.</li>	
</ol>

<p><%= link_to 'Create your free account now', new_user_registration_path %>. </p>

<%= link_to 'No thanks, take me to my download', download_path %>.


